.feed{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    overflow: auto;
    margin: 0px 30px;
}

.feed__inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.feed__input{
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed__input > form{
    display: flex;
    width: 100%;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed__input > form > button{
    display: none;
}

.feed__Options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.feed__Options .option{
    display: flex;
    align-items: center;
    color: gray;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    font-weight: 500;
}

.feed__Options .option:hover{
    background-color: #eee;
}